# importing libraries

In [38]:
import pandas as pd
import nltk
import re
nltk.download("stopwords")
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import string
string.punctuation

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rishi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

# read the dataset and preprocessing

In [4]:
ps=PorterStemmer

In [5]:
dataset=pd.read_csv("spam.csv")

In [6]:
dataset

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [36]:
review=dataset["v2"]

In [37]:
review=re.sub('[^a-zA-Z]'," ",review[3])
review

'U dun say so early hor    U c already then say   '

In [33]:
review=review.split()
review

['Nah',
 'I',
 'don',
 't',
 'think',
 'he',
 'goes',
 'to',
 'usf',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [39]:
dataset['v1'].value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [43]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
dataset['clean_msg']=dataset['v2'].apply(lambda x:remove_punctuation(x))
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,clean_msg
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,Go until jurong point crazy Available only in ...
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,Ok lar Joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,Free entry in 2 a wkly comp to win FA Cup fina...
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,U dun say so early hor U c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,Nah I dont think he goes to usf he lives aroun...

In [46]:
dataset['msg_lower']=dataset['clean_msg'].apply(lambda x:x.lower())
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,clean_msg,msg_lower
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,Go until jurong point crazy Available only in ...,go until jurong point crazy available only in ...
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,Ok lar Joking wif u oni,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,U dun say so early hor U c already then say,u dun say so early hor u c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,Nah I dont think he goes to usf he lives aroun...,nah i dont think he goes to usf he lives aroun...

In [52]:
import re
def tokenization(text):
    tokens=re.split('W+',text)
    return tokens
dataset['msg_tokenied']=dataset['msg_lower'].apply(lambda x:tokenization(x))
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,clean_msg,msg_lower,msg_tokenid,msg_tokenied
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,Go until jurong point crazy Available only in ...,go until jurong point crazy available only in ...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,Ok lar Joking wif u oni,ok lar joking wif u oni,[ok lar joking wif u oni],[ok lar joking wif u oni]
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,U dun say so early hor U c already then say,u dun say so early hor u c already then say,[u dun say so early hor u c already then say],[u dun say so early hor u c already then say]
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,Nah I dont think he goes to usf he lives aroun...,nah i dont think he goes to usf he lives aroun...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...

In [50]:
stopwords=nltk.corpus.stopwords.words('english')
stopwords[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [51]:
def remove_stopwords(text):
    output=[i for i in text if i not in stopwords]
    return output

In [55]:
dataset['no_stopwords']=dataset['msg_tokenied'].apply(lambda x:remove_stopwords(x))
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,clean_msg,msg_lower,msg_tokenid,msg_tokenied,no_stopwords
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,Go until jurong point crazy Available only in ...,go until jurong point crazy available only in ...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,Ok lar Joking wif u oni,ok lar joking wif u oni,[ok lar joking wif u oni],[ok lar joking wif u oni],[ok lar joking wif u oni]
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,U dun say so early hor U c already then say,u dun say so early hor u c already then say,[u dun say so early hor u c already then say],[u dun say so early hor u c already then say],[u dun say so early hor u c already then say]
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,Nah I dont think he goes to usf he lives aroun...,nah i dont think he goes to usf he lives aroun...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...

In [56]:
from nltk.stem.porter import PorterStemmer
porter_stemmer=PorterStemmer()

In [62]:
def stemming(text):
    stem_text=[porter_stemmer.stem(word)for word in text]
    return stem_text
dataset['msg_stemmed']=dataset['no_stopwords'].apply(lambda x:stemming(x))
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,clean_msg,msg_lower,msg_tokenid,msg_tokenied,no_stopwords,msg_stemmed
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,Go until jurong point crazy Available only in ...,go until jurong point crazy available only in ...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,Ok lar Joking wif u oni,ok lar joking wif u oni,[ok lar joking wif u oni],[ok lar joking wif u oni],[ok lar joking wif u oni],[ok lar joking wif u oni]
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,U dun say so early hor U c already then say,u dun say so early hor u c already then say,[u dun say so early hor u c already then say],[u dun say so early hor u c already then say],[u dun say so early hor u c already then say],[u dun say so early hor u c already then say]
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,Nah I dont think he goes to usf he lives aroun...,nah i dont think he goes to usf he lives aroun...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...

In [65]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer=WordNetLemmatizer()
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rishi\AppData\Roaming\nltk_data...

True

In [66]:
def lemmatizer(text):
    lemm_text=[wordnet_lemmatizer.lemmatize(word)for word in text]
    return lemm_text
dataset['msg_lemmatized']=dataset['no_stopwords'].apply(lambda x:lemmatizer(x))
dataset.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,clean_msg,msg_lower,msg_tokenid,msg_tokenied,no_stopwords,msg_stemmed,msg_lemmatized
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,Go until jurong point crazy Available only in ...,go until jurong point crazy available only in ...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...,[go until jurong point crazy available only in...
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,Ok lar Joking wif u oni,ok lar joking wif u oni,[ok lar joking wif u oni],[ok lar joking wif u oni],[ok lar joking wif u oni],[ok lar joking wif u oni],[ok lar joking wif u oni]
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...,[free entry in 2 a wkly comp to win fa cup fin...
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,U dun say so early hor U c already then say,u dun say so early hor u c already then say,[u dun say so early hor u c already then say],[u dun say so early hor u c already then say],[u dun say so early hor u c already then say],[u dun say so early hor u c already then say],[u dun say so early hor u c already then say]
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,Nah I dont think he goes to usf he lives aroun...,nah i dont think he goes to usf he lives aroun...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...,[nah i dont think he goes to usf he lives arou...

# model

In [73]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector=CountVectorizer()
import pprint 
from collections import Counter

In [74]:
count_vector.fit(dataset)
count_vector.get_feature_names()

['clean_msg',
 'msg_lemmatized',
 'msg_lower',
 'msg_stemmed',
 'msg_tokenid',
 'msg_tokenied',
 'no_stopwords',
 'unnamed',
 'v1',
 'v2']

In [76]:
doc_array=count_vector.transform(dataset).toarray()
doc_array

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [79]:
frequency_matrix=pd.DataFrame(doc_array,columns=count_vector.get_feature_names())
frequency_matrix

,clean_msg,msg_lemmatized,msg_lower,msg_stemmed,msg_tokenid,msg_tokenied,no_stopwords,unnamed,v1,v2
0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,1,0,0
5,1,0,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0,0
7,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,1,0,0,0,0
9,0,0,0,0,0,0,1,0,0,0
10,0,0,0,1,0,0,0,0,0,0
11,0,1,0,0,0,0,0,0,0,0

# Fit the  Model

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(dataset['v2'],dataset['v1'],test_size=0.20,random_state=1)

In [83]:
count_vector=CountVectorizer()
training_data=count_vector.fit_transform(X_train)
testing_data=count_vector.transform(X_test)

# Save the Model

In [84]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes=MultinomialNB()
naive_bayes.fit(training_data,y_train)

MultinomialNB()

In [85]:
predictions=naive_bayes.predict(testing_data)

# Test the Model

In [88]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
print('accuracy_score:{}'.format(accuracy_score(y_test,predictions)))

accuracy_score:0.9856502242152466